h1{
    color: rgb(255, 255, 255);
    background-color: black;
    display: inline-block;
    font-size: 80px;
    align-items: center;

}
h2{
    size: 8cap;
}
body{
    background: url(DeWatermark.ai_1720678984734.png);
 
     
}